# Development
.keys/
.env
.tool-versions
.task/
Taskfile.yml

# IDEs
.vscode/*
.idea/*

# Node.js
node_modules/
package-lock.json
npm-debug.log*

# Python
.venv
.reuse-venv
libs/*.whl

# Examples
*.db
*.pem
.cache/
__pycache__/
**/.DS_Store
