name: Check sketches dependencies
on:
  pull_request:
permissions:
  contents: read

jobs:
  check-sketches-deps:
    runs-on: ubuntu-latest
    env:
      ARDUINO_CLI_PATH: '/home/runner/bin'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify sketches
        uses: arduino/compile-sketches@v1
        with:
          fqbn: "arduino:zephyr:unoq"
          sketch-paths: "./examples"