name: Compile sketches to verify dependencies
on:
  pull_request:
permissions:
  contents: read

jobs:
  compile-sketches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify sketches
        uses: arduino/compile-sketches@v1
        with:
          fqbn: "arduino:zephyr:unoq"
          sketch-paths: "./examples"